/* src/styles/Projects.css */
.projects {
  padding: 50px;
  background-color: #27272a;
  text-align: center;
 
}

.projects h2 {
  font-size: 36px;
  color: #e0d0d0;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  background-color: #232425;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #2b3a49;
}

.project-card h3 {
  font-size: 24px;
  color: #d7842a;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 16px;
  color: #d1cbcb;
  margin-bottom: 10px;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4b649e;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

.project-link:hover {
  background-color: #b71a7d;
  transform: translateY(-3px);
}
